@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



@font-face {
  font-family: "custom";
  src: url('./custom.ttf');
  font-style: normal;
}

@font-face {
  font-family: "quicksand";
  src: url('./Quicksand.otf');

}

html {
  scroll-behavior: smooth;
  font-family: "quicksand";
  overflow-x: hidden;
}

h1, h2, h3, marquee, span{
  font-family: "custom";
}

.about h2{
  margin: 50px 50px;
  text-decoration: underline;
  text-align: center;
}

body {
  height: 100%;
  overflow-x: hidden;
}

iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.shimmer {
  font-weight: 700;
  font-size: 1.4em;
  margin: 0 auto;
  padding: 10px;
  display: inline;
  margin-bottom: 0;
  line-height: 3;
  text-align: center;
  color: rgb(32, 82, 10);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
  -webkit-text-stroke: .0001em rgba(233, 242, 233, 0.33);
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}


@layer base {
  body {
    @apply bg-gradient-to-r from-[#79263f] to-[#be294c] text-[#cacaca] tracking-wide;
  }

  p{
    @apply text-lg mt-2 mb-2 leading-10
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#000000] to-[#2a2829] text-[#e8e6e6] font-extrabold
  }

  .technologies{
    @apply bg-gradient-to-r from-[#101010fc] to-[#000000] font-extrabold text-[#f0eeee]
  }

  .technologies p{
    @apply text-[#f1eaead3]
  }

}
