@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



@font-face {
  font-family: "custom";
  src: url('./custom.ttf');
  font-style: normal;
}

@font-face {
  font-family: "quicksand";
  src: url('./Quicksand.otf');

}

html {
  scroll-behavior: smooth;
  font-family: "quicksand";
  overflow-x: hidden;
}

h1, h2, h3, marquee, span{
  font-family: "custom";
}

.about h2{
  margin: 50px 50px;
  text-decoration: underline;
  text-align: center;
}

body {
  height: 100%;
}

iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}



@layer base {
  body {
    @apply bg-gradient-to-r from-[#79263f] to-[#be294c] text-[#cacaca] tracking-wide;
  }

  p{
    @apply text-lg mt-2 mb-2 leading-10
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#000000] to-[#2a2829] text-[#e8e6e6] font-extrabold
  }

  .technologies{
    @apply bg-gradient-to-r from-[#101010fc] to-[#000000] font-extrabold text-[#f0eeee]
  }

  .technologies p{
    @apply text-[#f1eaead3]
  }

}
